@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remover margens e paddings padrão */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Remover espaçamentos indesejados */
* {
    box-sizing: border-box;
}

/* Garantir que não há espaçamento no topo */
body > *:first-child {
    margin-top: 0;
    padding-top: 0;
}